
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="~/Content/IndexCss/css/index.css">
    <title>首页</title>
</head>
<body>
    <div class="container">
        <div class="logo"><img src="~/Content/IndexCss/images/logos.png" alt=""></div>
        <div class="details"><img src="~/Content/IndexCss/images/details.png" alt=""></div>
        <div class="center">
            <img src="~/Content/IndexCss/images/other.png" alt="">
            <a href="@Url.Action("Login","Account")"><img src="~/Content/IndexCss/images/button.png" alt=""></a>
        </div>
        <div class="copyright">
            copyright © 2016-2017  金华师范学校附属小学
        </div>
    </div>
</body>
</html>