@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@*
    IMPORTANT NOTES FROM ASP.NET BOILERPLATE:

    This _Layout.cshtml is not used actually. It's left here if you want to add some classic style (MPA)
    pages to your application.

    See App/Main/views/layout/layout.cshtml for Angular application's layout page.
*@
@{
    SetAntiForgeryCookie();
}
<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist-custom.css">
    <link href="~/assets/vendor/jquery.thickbox/jquery.thickbox.css" rel="stylesheet" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon.png">
</head>

<body>
    <div id="wrapper">
        @Html.Partial("_head")
        @Html.Partial("_leftsidebar")
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="~/assets/vendor/jquery.thickbox/jquery.thickbox.js"></script>
    <script src="~/assets/vendor/jquery-upload/jquery.upload.js"></script>
    <script src="~/assets/scripts/klorofil-common.js"></script>

    @RenderSection("PageSpecificJavascriptIncludes", required: false)
</body>
</html>